<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoJsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ray.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.ray.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDBCP</display-name>
    <servlet-name>TestDBCP</servlet-name>
    <servlet-class>com.ray.util.TestDBCP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDBCP</servlet-name>
    <url-pattern>/TestDBCP</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestMySqlDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <jsp-config>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
	    <taglib-location>/WEB-INF/lib/fmt-1_0.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/fmt-rt</taglib-uri>
	    <taglib-location>/WEB-INF/lib/fmt-1_0-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
	    <taglib-location>/WEB-INF/lib/c-1_0.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
	    <taglib-location>/WEB-INF/lib/c-1_0-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
	    <taglib-location>/WEB-INF/lib/sql-1_0.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/sql-rt</taglib-uri>
	    <taglib-location>/WEB-INF/lib/sql-1_0-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
	    <taglib-location>/WEB-INF/lib/x-1_0.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jsp/jstl/x-rt</taglib-uri>
	    <taglib-location>/WEB-INF/lib/x-1_0-rt.tld</taglib-location>
	    </taglib>
    </jsp-config>
</web-app>